{% extends 'allpage/base02.html' %}
{% load static %}
{% block css %}
<style>
    .registration {
        width: 360px;
        margin: 0 auto;
    }
    .registration .form-actions > button {
        width: 100%;
    }
</style>
{% endblock %}
{% block content %}

<div class="panel panel-default registration">
    <div class="panel-heading">
          비밀번호가 초기화 완료
    </div>
    <div class="panel-body">

<p>비밀번호가 설정되었습니다. 이제 로그인하세요.</p>
  <a href='/account/login/'>로그인</a>
    </div>
</div>
{% endblock %}
