{% extends 'allpage/base02.html' %}
{% load static %}
{% block css %}
<style>
    .registration {
        width: 360px;
        margin: 0 auto;
    }
    .registration .form-actions > button {
        width: 100%;
    }
</style>
{% endblock %}
{% block content %}
        <div class="container">
            <div class="contents">
                <div class="form-wp account">
<div class="panel panel-default registration">
    <div class="panel-heading">
          새 비밀번호가 전송되었습니다.
    </div>
    <div class="panel-body">


<p>계정이 존재한다면, 독자가 입력한 이메일로 비밀번호 설정 안내문을 발송했습니다. 곧 수신할 수 있을 것입니다.</p>

<p>만약 이메일을 받지 못하였다면, 등록하신 이메일을 다시 확인하시거나 스팸 메일함을 확인해주세요.</p>
  
    </div>
</div>
</div></div></div>
{% endblock %}
