{% extends 'allpage/base02.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block css %}
{% endblock %}

{% block content %}
        <div class="container">
            <div class="contents">
                <div class="form-wp account">
                    <div class="character-logo"> 로고</div>

  <div class="media">
    <!--<img class="rounded-circle account-img" style="border-radius: 50% !important;width: 100px;
    height: 100px;" src="{{ user.profile.profile_photo.url }}">-->
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
                        <div class="input-form">
                           <form action="." method="post">
                                {% csrf_token %}
                                이름변경
                                 {{ u_form.username }}
                                 
                                <div class="btnAr">
                                    <button class="btn wavvy" type="submit">
                                        <span class="tx">수정완료</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
