{% extends 'allpage/base02.html' %}
{% load static %}

{% block content %}

<div class="container subPage">
            <div class="listPage-titAr wTy1 p-RL1">
                <p class="tit">커뮤니티</p>
                <p class="txt">실시간으로 소통하고 질문하세요.</p>
                <a href='{% url "commu-create" %}' style="float: right;">글쓰기</a>
            </div>
            <div class="contents">
                <div class="content wTy1 p-RL1">
                    <div class="list-content">
                        <div class="tabWp board-tab">
                            <div class="tab">
                                <button class="tabBtn active" data-tab="tab-used_article">
                                    <span class="txt">중고장터</span>
                                </button>
                            </div>
                            <div class="tab">
                                <button class="tabBtn" data-tab="tab-with">
                                    <span class="txt">같이가요</span>
                                </button>
                            </div>
                            <div class="tab">
                                <button class="tabBtn" data-tab="tab-get_together">
                                    <span class="txt">정모/번개</span>
                                </button>
                            </div>
                            <div class="tab">
                                <button class="tabBtn" data-tab="tab-lesson">
                                    <span class="txt">강습정보</span>
                                </button>
                            </div>
                        </div>
                        <div class="tabConWp">
                            <div class="tabCon" id="tab-used_article">
                                <div class="board-list">
                                   {% for notices in notice %}
                                    <div class="list">
                                        <p class="tit notice new">
                                            <span class="txt"><a href="{% url 'commu-detail' notices.id %}">{{ notices.title }}</a></span>
                                            <span class="count">[{{notices.comments.count }}]</span>
                                        </p>
                                        <p class="date">{{ notices.pub_date|date:"Af | y.m.d"}}</p>
                                    </div>
                                    {% endfor %}
                                    {% for usedMarkets in usedMarket_posts %}
                                    <div class="list">
                                        <p class="tit new">
                                            <span class="txt"><a href="{% url 'commu-detail' usedMarkets.id %}">{{ usedMarkets.title }}</a></span>
                                            <span class="count">[{{usedMarkets.comments.count }}]</span>
                                        </p>
                                        <p class="date">{{ usedMarkets.pub_date|date:"Af | y.m.d"}}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <!--<div class="pagiNation-Wp">
                                    <div class="arrAr">
                                        {% if usedMarket_posts.has_previous %}
                                        <a href="?page=1"><button class="arr first">처음으로</button></a>
                                        <a href="?page={{usedMarket_posts.previous_page_number}}"><button class="arr prve">이전으로</button></a>
                                        {% endif %}
                                    </div>
                                    <ul class="pageAr">
                                        {% for num in usedMarket_posts.paginator.page_range %}
                                        {% if usedMarket_posts.number == num %}
                                        <li class="pageNum active"><a href="?page={{ num }}"><span class="num">{{ num }}</span></a></li>
                                        {% elif num > usedMarket_posts.number|add:'-5' and num < usedMarket_posts.number|add:'5' %}
                                        <li class="pageNum"><a href="?page={{ num }}"><span class="num">{{ num }}</span></a></li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <div class="arrAr">
                                        {% if usedMarket_posts.has_next %}
                                        <a href="?page={{ usedMarket_posts.next_page_number }}"><button class="arr next">다음으로</button></a>
                                        <a href="?page={{ usedMarket_posts.paginator.num_pages }}"><button class="arr last">마지막으로</button></a>
                                        {% endif %}
                                    </div>
                                </div>-->
                            </div>
                            <div class="tabCon" id="tab-with">
                                <div class="board-list">
                                   {% for notices in notice %}
                                    <div class="list">
                                        <p class="tit notice new">
                                            <span class="txt"><a href="{% url 'commu-detail' notices.id %}">{{ notices.title }}</a></span>
                                            <span class="count">[186]</span>
                                        </p>
                                        <p class="date">{{ notices.pub_date|date:"Af | y.m.d"}}</p>
                                    </div>
                                    {% endfor %}
                                    {% for carpools in carpool_posts %}
                                    <div class="list">
                                        <p class="tit new">
                                            <span class="txt"><a href="{% url 'commu-detail' carpools.id %}">{{ carpools.title }}</a></span>
                                            <span class="count">[{{carpools.comments.count }}]</span>
                                        </p>
                                        <p class="date">{{ carpools.pub_date|date:"Af | y.m.d" }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <!--<div class="pagiNation-Wp">
                                    <div class="arrAr">
                                        {% if carpool_posts.has_previous %}
                                        <a href="?page=1"><button class="arr first">처음으로</button></a>
                                        <a href="?page={{carpool_posts.previous_page_number}}"><button class="arr prve">이전으로</button></a>
                                        {% endif %}
                                    </div>
                                    <ul class="pageAr">
                                        {% for num in carpool_posts.paginator.page_range %}
                                        {% if carpool_posts.number == num %}
                                        <li class="pageNum active"><a href="?page={{ num }}"><span class="num">{{ num }}</span></a></li>
                                        {% elif num > carpool_posts.number|add:'-5' and num < carpool_posts.number|add:'5' %}
                                        <li class="pageNum"><a href="?page={{ num }}"><span class="num">{{ num }}</span></a></li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <div class="arrAr">
                                        {% if carpool_posts.has_next %}
                                        <a href="?page={{ carpool_posts.next_page_number }}"><button class="arr next">다음으로</button></a>
                                        <a href="?page={{ carpool_posts.paginator.num_pages }}"><button class="arr last">마지막으로</button></a>
                                        {% endif %}
                                    </div>
                                </div>-->
                            </div>
                            <div class="tabCon" id="tab-get_together">
                                <div class="board-list">
                                   {% for notices in notice %}
                                    <div class="list">
                                        <p class="tit notice new">
                                            <span class="txt"><a href="{% url 'commu-detail' notices.id %}">{{ notices.title }}</a></span>
                                            <span class="count">[{{notices.comments.count }}]</span>
                                        </p>
                                        <p class="date">{{ notices.pub_date|date:"Af | y.m.d"}}</p>
                                    </div>
                                    {% endfor %}
                                    {% for meetings in meeting %}
                                    <div class="list">
                                        <p class="tit new">
                                            <span class="txt"><a href="{% url 'commu-detail' meetings.id %}">{{ meetings.title }}</a></span>
                                            <span class="count">[{{meetings.comments.count }}]</span>
                                        </p>
                                        <p class="date">{{ meetings.pub_date|date:"Af | y.m.d" }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <!--<div class="pagiNation-Wp">
                                    <div class="arrAr">
                                        <button class="arr first">처음으로</button>
                                        <button class="arr prve">이전으로</button>
                                    </div>
                                    <ul class="pageAr">
                                        <li class="pageNum active"><span class="num">1</span></li>
                                        <li class="pageNum"><span class="num">2</span></li>
                                        <li class="pageNum"><span class="num">3</span></li>
                                    </ul>
                                    <div class="arrAr">
                                        <button class="arr next">다음으로</button>
                                        <button class="arr last">마지막으로</button>
                                    </div>
                                </div>-->
                            </div>
                            <div class="tabCon" id="tab-lesson">
                                <div class="board-list">
                                   {% for notices in notice %}
                                    <div class="list">
                                        <p class="tit notice new">
                                            <span class="txt"><a href="{% url 'commu-detail' notices.id %}">{{ notices.title }}</a></span>
                                            <span class="count">[{{notices.comments.count }}]</span>
                                        </p>
                                        <p class="date">{{ notices.pub_date|date:"Af | y.m.d"}}</p>
                                    </div>
                                    {% endfor %}
                                    {% for informations in information %}
                                    <div class="list">
                                        <p class="tit new">
                                            <span class="txt"><a href="{% url 'commu-detail' informations.id %}">{{ informations.title }}</a></span>
                                            <span class="count">[{{informations.comments.count }}]</span>
                                        </p>
                                        <p class="date">{{ informations.pub_date|date:"Af | y.m.d" }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <!--<div class="pagiNation-Wp">
                                    <div class="arrAr">
                                        <button class="arr first">처음으로</button>
                                        <button class="arr prve">이전으로</button>
                                    </div>
                                    <ul class="pageAr">
                                        <li class="pageNum active"><span class="num">1</span></li>
                                        <li class="pageNum"><span class="num">2</span></li>
                                        <li class="pageNum"><span class="num">3</span></li>
                                    </ul>
                                    <div class="arrAr">
                                        <button class="arr next">다음으로</button>
                                        <button class="arr last">마지막으로</button>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  {% endblock %}
