<div >
            <div class="wTy1 p-RL2">
                <h1 class="logo ic"><button class="logoBtn"></button></h1>
                <ul class="footer-link">
                    <li class="link"><a href='{% url "contact" %}'><button class="link-btn alliance">제휴문의</button></a></li>
                    <li class="link"><a href='{% url "terms"%}'><button class="link-btn">이용약관</button></a></li>
                    <li class="link"><a href='{% url "privacy"%}'><button class="link-btn">개인정보 처리방침</button></a></li>
                </ul>
                <div class="company-info">
                    <div class="row">
                        <span class="txt">웨이비 사업자 등록번호 : 811-12-01310</span>
                        <span class="txt">대표 : MARCUS JAY KENNEDY</span>
                    </div>
                    <div class="row">
                        <span class="txt">개인정보 관리 책임자 : 송민철</span>
                        <span class="txt">주소: 강원도 강릉시 주문진읍 매맥이아랫길 24, 비동 910호</span>
                    </div>
                </div>
                <div class="notice">
                    <p class="txt">웨이비는 통신판매중개자로서 거래당사자가 아니며,  호스트가 등록한 상품정보 및 거래에 대해 책임을 지지 않습니다.</p>
                    <p class="txt">NICEPAY 안전거래 서비스 : 고객님의 안전거래를 위해 현금 결제 시,  저희 사이트에서 가입한 구매안전 서비스를 이용할 수 있습니다. </p>
                    <button class="nice-pay">NICEPAY 안전거래 가입확인</button>
                </div>
            </div>
        </div>