{% extends 'allpage/base02.html' %}
{% load static %}


{% block css %}
{% endblock %}


{% block content %}
<div class="container subPage">
            <div class="listPage-titAr wTy1 p-RL1">
                  <p class="tit">개인정보 &nbsp;취급방침</p>
            </div>
            <div class="contents">
                <div class="content wTy1 p-RL1">
                    <div class="list-content card-list-Ar">
 <pre  style="word-wrap: break-word;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-break:break-all;">     
통신비밀보호법, 전기통신사업법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 정보통신서비스제공자가 준수하여야 할 관련 법령상의 개인정보보호 규정을 준수하며, 관련 법령에 의거한 개인정보 취급방침을 정하여 이용자 권익 보호에 최선을 다하고 있습니다. 개인정보 취급방침은 다음과 같습니다.이 약관은 웨이비(전자상거래 사업자)가 운영하는 www.planet8.co(이하 “플래닛에이트”라 한다)에서 제공하는 인터넷 관련 서비스(이하 “서비스”라 한다)를 이용함에 있어 이용자의 권리•의무 및 책임사항을 규정함을 목적으로 합니다. 서비스에 접속하거나 이용함으로써, 이용자는 우리의 이용자로 등록되었는지 여부에 관계없이, 이용자가 본 이용약관을 읽었고 이해하였으며 적용 받는 것에 동의하게 됩니다.
가. 총칙

1. 개인정보란 생존하는 개인에 관한 정보로서 당해 정보에 포함되어 있는 성명 , 주민등록번호 등의 사항에 의하여 당해 개인을 식별할 수 있는 정보 ( 당해 정보만으로는 특정 개인을 식별할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함합니다.) 를 말합니다.

2. 웨이비는 『정보통신망 이용촉진 및 정보보호 등에 관한 법률 ( 이하 “ 정보통신망법 ”) 』 제 27 조의 2( 개인정보취급방침의 공개 ) 에 준수하여 귀하께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.

3. 웨이비는 개인정보취급방침을 정하고 이를 귀하께서 언제나 쉽게 확인할 수 있게 공개하도록 하고 있습니다.

나. 수집하는 개인정보 항목 및 수집방법

1. 웨이비는 별도의 회원가입 절차 없이 대부분의 컨텐츠에 자유롭게 접근할 수 있습니다.
플래닛에이트의 회원제 서비스를 이용하시고자 할 경우 다음의 정보를 입력해주셔야 하합니다.
– 입력항목 : 이메일 가입 방식으로 사용자 이름, 이메일 주소, 패스워드 입력 후 가입 가능. 상품 구매 시 성명, 주소, 전화번호 등 항목

2. 또한 서비스 이용과정이나 사업 처리 과정에서 아래와 같은 정보들이 생성되어 수집될 수 있습니다.
– 최근접속일, 접속 IP 정보, 쿠키, 구매로그, 이벤트로그

3. 개인정보 수집에 대한 동의
– 웨이비는 귀하께서 플래닛에이트의 개인정보취급방침 및 이용약관의 내용에 대해 「동의한다」버튼 또는 「동의하지 않는다」버튼을 클릭할 수 있는 절차를 마련하여, 「동의한다」버튼을 클릭하면 개인정보 수집에 대해 동의한 것으로 봅니다.

다. 개인정보의 수집목적 및 이용목적

웨이비는 다음과 같은 목적을 위하여 개인정보를 수집하고 있습니다.
① 아이디, 비밀번호 : 회원제 서비스 이용에 따른 본인 식별 절차에 이용
② 이메일주소(뉴스레터 수신여부) : 고지사항 전달, 본인 의사 확인, 불만 처리 등 원활한 의사소통 경로의 확보, 새로운 서비스, 신상품이나 이벤트 정보 등 최신 정보의 안내
③ 주소, 전화번호 : 고객 CS에 이용
④ 그 외 선택항목 : 개인맞춤 서비스를 제공하기 위한 자료

라. 개인정보의 공유 및 제공

1. 웨이비는 귀하의 개인정보를 <개인정보의 수집목적 및 이용목적>에서 고지한 범위내에서 사용하며, 동 범위를 초과하여 이용하거나 타인 또는 타기업/기관에 제공하지 않습니다.
2. 고지 및 동의 방법은 온라인 홈페이지 최기 화면의 공지사항을 통해 최소 30일 이전부터 고지함과 동시에 이메일 등을 이용하여 1회 이상 개별적으로 고지하고 매각/인수합병에 대해서는 반드시 적극적인 동의 방법(개인정보의 제3자 제공 및 공유에 대한 의사를 직접 밝힘)에 의해서만 절차를 진행합니다.
3. 다음은 예외로 합니다.
① 배송업무상 배송업체에게 배송에 필요한 최소한의 이용자의 정보(성명, 주소, 전화번호)를 알려주는 경우
② 관계법령에 의하여 수사상의 목적으로 관계기관으로부터의 요구가 있을 경우
③ 통계작성, 학술연구나 시장조사를 위하여 특정 개인을 식별할 수 없는 형태로 광고주, 협력사나 연구단체 등에 제공하는 경우
④ 기타 관계법령에서 정한 절차에 따른 요청이 있는 경우
⑤ 그러나 예외사항에서도 관계법령에 의하거나 수사기관의 요청에 의해 정보를 제공한 경우에는 이를 당사자에게 고지하는 것을 원칙으로 운영하고 있습니다. 법률상의 근거에 의해 부득이하게 고지를 하지 못할 수도 있습니다. 본래의 수집목적 및 이용목적에 반하여 무분별하게 정보가 제공되지 않도록 최대한 노력하겠습니다.

마. 수집한 개인정보 취급 위탁

웨이비는 귀하의 동의없이 개인정보 취급을 외부 업체에 위탁하지 않습니다. 향후 그러한 필요가 생길 경우, 위탁 대상자와 위탁 업무 내용에 대해 귀하께 통지하고 필요한 경우 사전 동의를 받도록 하겠습니다.

바. 개인정보의 보유 이용기간

1. 귀하의 개인정보는 회사가 신청인에게 서비스를 제공하는 기간 동안에 한하여 보유하고 이를 활용합니다. 다만 다른 법률에 특별한 규정이 있는 경우에는 관계법령에 따라 보관합니다.
① 회원가입정보 : 회원가입을 탈퇴하거나 회원에 제명된 때
② 대금지급정보 : 대금의 완제일 또는 채권소명시효기간이 만료된 때
2. 위 개인정보 수집목적 달성시 즉시파기 원칙에도 불구하고 다음과 같이 거래 관련 권리 의무 관계의 확인 등을 이유로 일정기간 보유하여야 할 필요가 있을 경우에는 전자상거래 등에서의 소비자보호에 관한 법률 등에 근거하여 일정기간 보유합니다.
① 계약 또는 청약철회 등에 관한 기록 : 5년
② 대금결제 및 재화 등의 공급에 관한 기록 : 5년
③ 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년
3. 귀하의 동의를 받아 보유하고 있는 거래정보 등을 귀하께서 열람을 요구하는 경우 웨이비는 지체없이 그 열람, 확인 할 수 있도록 조치합니다.

사. 개인정보의 파기 절차

1. 웨이비는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.
① 파기절차
귀하가 회원가입 등을 위해 입력하신 정보는 목적이 달성된 후 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따 라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기되어집니다.
동 개인정보는 법률에 의한 경우가 아니고서는 보유되어지는 이외의 다른 목적으로 이용되지 않습니다.
② 파기방법
종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기하고
전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.

아. 이용자 및 법정대리인의 권리와 그 행사방법

1. 귀하는 언제든지 등록되어 있는 자신의 개인정보를 조회하거나 수정할 수 있으며 가입해지를 요청할 수도 있습니다.
2. 귀하의 개인정보 조회, 수정을 위해서는 「my page」 버튼을 클릭하여 직접 열람 및 정정이 가능합니다. 회원 탈퇴는 담당자에게 메일로 보내주시면 됩니다.
3. 혹은 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.
4. 웨이비는 귀하의 요청에 의해 해지 또는 삭제된 개인정보는 “플래닛에이트이 수집하는 개인정보의 보유 및 이용기간”에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.

자. 개인정보 자동 수집 장치의 설치, 운영 및 그 거부에 관한 사항

1. 쿠키(cookie)란?
웨이비는 귀하에 대한 정보를 저장하고 수시로 찾아내는 쿠키(cookie)를 사용합니다. 쿠키는 웹사이트가 귀하의 컴퓨터 브라우저(넷스케이프, 인터넷익스플로러 등)로 전송하는 소량의 정보입니다. 귀하께서 웹사이트에 접속을 하면 플래닛에이트의 서버는 귀하의 브라우저에 추가정보를 임시로 저장하여 접속에 따른 성명 등의 추가 입력 없이 플래닛에이트의 서비스를 제공할 수 있습니다. 쿠키는 귀하의 컴퓨터는 식별하지만 귀하를 개인적으로 식별하지는 않습니다. 또한 귀하는 쿠키에 대한 선택권이 있습니다. 웹 브라우저 상단의 도구 > 인터넷 옵션 탭(option tab)에서 모든 쿠키를 다 받아들이거나, 쿠키가 설치될 때 통지를 보내도록 하거나, 아니면 모든 쿠키를 거부할 수 있는 선택권을 가질 수 있습니다.
2. 플래닛에이트의 쿠키 운용 : 웨이비는 이용자의 편의를 위하여 쿠키를 운영합니다. 플래닛에이트이 쿠키를 통해 수집하는 정보는 회원ID에 한하며, 그 외의 다른 정보는 수집하지 않습니다. 플래닛에이트이 쿠키를 통해 수집한 회원 ID는 다음의 목적을 위해 사용됩니다.
① 개인의 관심 분야에 따란 차별화된 정보를 제공
② 쇼핑한 품목들에 대한 정보와 장바구니 서비스를 제공
③ 회원과 비회원의 접속빈도 또는 머문시간 등을 분석하여 서비스 개편 및 마케팅에 활용
3. 쿠키는 브라우저의 종료시나 로그아웃시 만료됩니다.

차. 개인정보 보호문의처

1. 당사는 귀하의 의견을 소중하게 생각하며, 귀하는 의문사항으로부터 언제나 성실한 답변을 받을 권리가 있습니다.
2. 당사는 귀하와의 원활한 의사소통을 위해 민원처리센터를 운영하고 있습니다.
3. 민원처리 센터의 연락처는 다음과 같습니다.

전자우편 : wavvy.surf@gmail.com

주소 : 강원도 강릉시 주문진읍 매맥이아랫길 24, 비동 910호

4. 전화상담은 월~금요일 오전 10:00 ~ 오후 06:00에만 가능합니다.
5. 전자우편이나 팩스 및 우편을 이용한 상담은 접수 후 24시간 내에 성실하게 답변 드리겠습니다. 다만 근무시간 이후 또는 주말 및 공휴일에는 익일 처리하는 것을 원칙으로 합니다.
6. 기타 개인정보에 관한 상담이 필요한 경우에는 개인정보침해신고센터, 정보보호마크 인증위원회, 대검찰청 인터넷범죄수사센터, 경찰청 사이버범죄수사대 등으로 문의하실 수 있습니다.

전자거래분쟁조정위원회

URL : http://www.ecmc.or.kr

개인정보침해신고센터

전화 : 1336

URL : http://www.cyberprivacy.or.kr

정보보호마크 인증위원회

전화 : 02-580-0533

URL : http://www.privacymark.or.kr

경찰청 사이버범죄수사대

URL : http://www.police.go.kr/cybercenter

카. 개인정보 관리책임자 및 담당자의 소속-성명 및 연락처

웨이비는 귀하가 좋은 정보를 안전하게 이용할 수 있도록 최선을 다하고 있습니다. 개인정보를 보호하는데 있어 귀하께 고지한 사항들에 반하는 사고가 발생할 시에 개인정보관리책임자가 모든 책임을 집니다. 그러나 기술적인 보완조치를 했음에도 불구하고, 해킹 등 기본적인 네트워크상의 위험성에 의해 발생하는 예기치 못한 사고로 인한 정보의 훼손 및 방문자가 작성한 게시물에 의한 각종 분쟁에 관해서는 책임이 없습니다. 귀하의 개인정보를 취급하는 책임자 및 담당자는 다음과 같으며 개인정보 관련 문의사항에 신속하고 성실하게 답변해드리고 있습니다.

개인정보 관리 책임자

성명: 송민철

E-mail: 강원도 강릉시 주문진읍 매맥이아랫길 24, 비동 910호

개인정보보호정책 최초제정일자: 2020-11-10
개인정보보호정책 최종변경일자: 2020-11-10
개인정보보호정책 시행일자: 2020-11-10
    
</pre>
</div>
</div>
</div>
    </div>
{% endblock %}