{% extends 'allpage/base02.html' %}
{% load static %}

{% block content %}
<div class="container subPage">
            <div class="listPage-titAr wTy1 p-RL1">
                <p class="tit">채널 웨이비</p>
                <p class="txt">웨이비 유튜브 채널입니다.</p>
            </div>
            <div class="contents">
                <div class="content wTy1 p-RL1">
                    <div class="list-content card-list-Ar">
                        <div class="card-list channel">
                        {% for video in posts %}
                            <div class="list">
                                <a href='{% url "channel_detail" video.id %}'>
                                    <div class="thumbAr">
                                        <div class="thumbImg" style="background-image: url({{ video.thumbnail }});"></div>
                                        <div class="thumb-time">
                                            <!--<span class="time">2:54</span>-->
                                        </div>
                                    </div>
                                    <div class="infoAr">
                                        <p class="tit">{{ video.title }}</p>
                                        <p class="descrip">{{ video.video_desc }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                        <div class="pagiNation-Wp">
                        {% if posts.has_previous %}
                            <div class="arrAr">
                                <a href="?page=1"><button class="arr first">처음으로</button></a>
                                <a href="?page={{ posts.previous_page_number }}"><button class="arr prve">이전으로</button></a>
                            </div>
                        {% endif %}
                            <ul class="pageAr">
                        {% for num in posts.paginator.page_range %}
                        {% if posts.number == num %}
                                <li class="pageNum active"><a href="?page={{ num }}"><span class="num">{{ num }}</span></a><</li>
                                {% elif num > posts.number|add:'-5' and num < posts.number|add:'5' %}
                                <li class="pageNum"><a href="?page={{ num }}"><span class="num">{{ num }}</span></a></li>
                        {% endif %}
                        {% endfor %}
                            </ul>
                        {% if posts.has_next %}
                            <div class="arrAr">
                                <a href="?page={{ posts.next_page_number }}"><button class="arr next">다음으로</button></a>
                                <a href="?page={{ posts.paginator.num_pages }}"><button class="arr last">마지막으로</button></a>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
  {% endblock %}

