{% extends 'allpage/base02.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
<div class="container subPage">
            <div class="listPage-titAr wTy1 p-RL1">
                <p class="tit">서핑스쿨</p>
                <p class="txt">전국의 서핑스쿨 정보를 제공합니다. </p>
            </div>
            <div class="contents">
                <div class="content wTy1 p-RL1">
                    <div class="list-content card-list-Ar">
                        <div class="tabWp cont-tab">
                            <div class="tab">
                                <button class="tabBtn active" data-tab="tab-all">
                                    <span class="txt">전체</span>
                                    <span class="count">00</span>
                                </button>
                            </div>
                            <div class="tab">
                                <button class="tabBtn" data-tab="tab-east_sea">
                                    <span class="txt">동해안</span>
                                    <span class="count">0</span>
                                </button>
                            </div>
                            <div class="tab">
                                <button class="tabBtn" data-tab="tab-south_sea">
                                    <span class="txt">남해안</span>
                                    <span class="count">0</span>
                                </button>
                            </div>
                            <div class="tab">
                                <button class="tabBtn" data-tab="tab-west_sea">
                                    <span class="txt">서해안</span>
                                    <span class="count">0</span>
                                </button>
                            </div>
                            <div class="tab">
                                <button class="tabBtn" data-tab="tab-jeju">
                                    <span class="txt">제주</span>
                                    <span class="count">0</span>
                                </button>
                            </div>
                        </div>
                        <div class="tabConWp">
                            <div class="tabCon" id="tab-all">
                                <div class="card-list school">
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb03.png);"></div>
                                        </div>
                                        <a href='{% url "school_detail"%}'><div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div></a>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb04.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb05.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb06.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb03.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb04.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb05.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb06.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagiNation-Wp">
                                    <div class="arrAr">
                                        <button class="arr first">처음으로</button>
                                        <button class="arr prve">이전으로</button>
                                    </div>
                                    <ul class="pageAr">
                                        <li class="pageNum active"><span class="num">1</span></li>
                                        <li class="pageNum"><span class="num">2</span></li>
                                        <li class="pageNum"><span class="num">3</span></li>
                                    </ul>
                                    <div class="arrAr">
                                        <button class="arr next">다음으로</button>
                                        <button class="arr last">마지막으로</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tabCon" id="tab-east_sea">
                                <div class="card-list school">
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb06.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">222[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb05.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb04.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb03.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb03.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb04.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb05.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb06.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagiNation-Wp">
                                    <div class="arrAr">
                                        <button class="arr first">처음으로</button>
                                        <button class="arr prve">이전으로</button>
                                    </div>
                                    <ul class="pageAr">
                                        <li class="pageNum active"><span class="num">1</span></li>
                                        <li class="pageNum"><span class="num">2</span></li>
                                        <li class="pageNum"><span class="num">3</span></li>
                                    </ul>
                                    <div class="arrAr">
                                        <button class="arr next">다음으로</button>
                                        <button class="arr last">마지막으로</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tabCon" id="tab-south_sea">
                                <div class="card-list school">
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb03.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb04.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb05.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb06.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb03.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb04.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb05.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb06.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagiNation-Wp">
                                    <div class="arrAr">
                                        <button class="arr first">처음으로</button>
                                        <button class="arr prve">이전으로</button>
                                    </div>
                                    <ul class="pageAr">
                                        <li class="pageNum active"><span class="num">1</span></li>
                                        <li class="pageNum"><span class="num">2</span></li>
                                        <li class="pageNum"><span class="num">3</span></li>
                                    </ul>
                                    <div class="arrAr">
                                        <button class="arr next">다음으로</button>
                                        <button class="arr last">마지막으로</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tabCon" id="tab-west_sea">
                                <div class="card-list school">
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb06.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb05.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb04.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb03.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb03.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb04.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb05.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb06.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagiNation-Wp">
                                    <div class="arrAr">
                                        <button class="arr first">처음으로</button>
                                        <button class="arr prve">이전으로</button>
                                    </div>
                                    <ul class="pageAr">
                                        <li class="pageNum active"><span class="num">1</span></li>
                                        <li class="pageNum"><span class="num">2</span></li>
                                        <li class="pageNum"><span class="num">3</span></li>
                                    </ul>
                                    <div class="arrAr">
                                        <button class="arr next">다음으로</button>
                                        <button class="arr last">마지막으로</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tabCon" id="tab-jeju">
                                <div class="card-list school">
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb03.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb04.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb05.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb06.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb03.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb04.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb05.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list">
                                        <div class="thumbAr">
                                            <div class="thumbImg" style="background-image: url(../images/@temp/sample_thumb06.png);"></div>
                                        </div>
                                        <div class="infoAr">
                                            <p class="tit">[서프살롱] 양양 죽도해변</p>
                                            <p class="address">강원 양양군 강현면 정암리</p>
                                            <p class="average-point">
                                                <em class="star-ic"></em>
                                                <span class="tx en">4.8<span class="in-tx">/</span>500</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagiNation-Wp">
                                    <div class="arrAr">
                                        <button class="arr first">처음으로</button>
                                        <button class="arr prve">이전으로</button>
                                    </div>
                                    <ul class="pageAr">
                                        <li class="pageNum active"><span class="num">1</span></li>
                                        <li class="pageNum"><span class="num">2</span></li>
                                        <li class="pageNum"><span class="num">3</span></li>
                                    </ul>
                                    <div class="arrAr">
                                        <button class="arr next">다음으로</button>
                                        <button class="arr last">마지막으로</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

  {% endblock %}
